:root {
    /* fonts */
     --font-family: 'Roboto', sans-serif;
     --letter-spacing-02: .02em;
     --letter-spacing-03: .03em;
     --letter-spacing-06: .06em;

    /* colors */
     --font-color: rgba(33 33 33 / 1);
     --white-color: rgba(255 255 255 / 1);
     --blue-color: rgba(33 150 243 / 1);
     --light-grey-color: rgba(245 244 250 / 1);
     --middle-grey-color: rgba(117 117 117 / 1);
     --dark-grey-color: rgba(47 48 58 / 1);
     --border-color: rgba(236 236 236 / 1);

     /* block models */
     --section-padding: 94px 0;
     /* section fonts  */
     --section-h2-font-size: 36px;
     --section-h2-line-heigh: 1.2;
     --section-h2-margin-top: 0;
     
}

/* body of page */
 body {
     background-color: var(--white-color);
     font-family: var(--font-family);
     color: var(--font-color);
     letter-spacing: var(--letter-spacing-03);
}
/* no underlined link */
 a {
     text-decoration: none;
}
/* no bullet lists */
 li {
     list-style-type: none;
}
h2 {
    margin-bottom: 50px;
}
/* header style */
.header {
    border-bottom: 1px solid var(--border-color);
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* max width of page */
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

/* horizontal align ul lists */
.header .container ul {
    display: flex;
    gap: 50px
}
.main-menu ul {
    gap: 46px;
}
/* horizontal aligning header and centered vertically */
.header .container {
    display: flex;
    justify-content: space-between;  
}
.container-left {
    display: flex;
    align-items: center;
    gap: 43px;
}

/* header links style  */
.main-menu a,
.header a[title] {
     font-size: 14px;
     font-weight: 500;
     line-height: 1.1;
     letter-spacing: var(--letter-spacing-02);
}
.header a[title] {
    color: var(--middle-grey-color);
}
.header a[title]:hover {
color: var(--blue-color);
}
/* logo top and footer styles */
 .logo {
     font-family: 'Raleway', sans-serif;
     font-size: 26px;
     font-weight: 700;
     line-height: 1.2;
     letter-spacing: var(--letter-spacing-03) 
}
/* logo style light-blue text */
 .logo > span {
     color: var(--blue-color);
}
/* links style love/hate order */
 a:focus {
     outline: var(--blue-color);
}
 a:link, 
 a:visited {
     color: var(--font-color);
}
 a:hover, 
 a:active {
     color: var(--blue-color);
}
/* buttons style */
 .button {
     border: none;
     border-radius: 4px;
     font-size: 16px;
     line-height: 1.6;
     color: var(--font-color);
     cursor: pointer;
}
/* front page button header */
 .button-main {
     padding: 10px 42px;
     background-color: var(--blue-color);
     color: var(--white-color);
     box-shadow: 0 4px 4px 0 rgba(0 0 0 / .15);
     text-align: center;
     letter-spacing: var(--letter-spacing-06);
     line-height: 1.9;
}
/* front page headline */
 .headline {
     background-color: var(--dark-grey-color);
     color: var(--white-color);
     height: 600px;
     text-align: center;
     display: flex;
   justify-content: center;
   align-items: center;
}
 .headline h1 {
     font-size: 44px;
     text-transform: uppercase;
     line-height: 1.4;
     margin-top: 0;
     letter-spacing: var(--letter-spacing-06);
     margin-bottom: 30px;
}
/* headline wrapper */
.headline-wrapper {
    max-width: 696px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* col-4 list */
 .col-4 {
    margin: 0;
    padding: 0;
     font-size: 14px;
     display: flex;
     justify-content: center;
    gap: 30px;
     padding-top: 94px;
}
.col-4 li {
    width: 270px;
}
 .col-4 h3 {
     font-weight: 700;
     line-height: 1.1;
     text-transform: uppercase;
     margin-top: 0;
     margin-bottom: 10px;
}
 .col-4 p {
     line-height: 1.7;
     color: var(--middle-grey-color);
     margin: 0;
}
/* section h2 style and padding */
section {
    padding: var(--section-padding);
}
section h2 {
    text-align: center;
    font-size: var(--section-h2-font-size);
    line-height: var(--section-h2-line-heigh);
    margin-top: var(--section-h2-margin-top);
}
.team ul {
    margin: 0;
    padding: 0;
}
/* activities section */
.activities-images {
    display: flex;
    justify-content: center;
    gap: 30px;
}
/* team section */
 .team {
     background-color: var(--light-grey-color);
     text-align: center;  
}

.team ul {
    display: flex;
    justify-content: center;
    gap: 30px;
}

 .team li {
     background-color: var(--white-color);
     border-radius: 0 0 4px 4px;
     box-shadow: 0 2px 1px 0 
     rgba(0  0  0 / .2), 0 1px 1px 0 
     rgba(0  0  0 / .14), 0 1px 3px 0 
     rgba(0  0  0 / .12);
}

.team h3 {
    margin: 0;
    padding: 30px 0 10px 0;

}
.team p {
    color: var(--middle-grey-color);
    margin: 0;
    padding-bottom: 30px;

}
/* portfolio buttons */
.bttn-group {
    margin: 0;
    padding: 94px 0 50px 0;
    display: flex;
    justify-content: center;
    gap: 8px;
}
 .bttn-group-item {
     padding: 6px 22px;
     background-color: var(--light-grey-color);
     box-shadow: 0 1px 2px 0 rgba(0 0 0 / .08);
}
 .bttn-group-item:hover {
     background-color: var(--blue-color);
     color: var(--white-color);
}
/* projects gallery */

.projects-gallery-row {
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.projects-gallery-row:nth-child(3) {
    margin-bottom: 94px;
}
 .projects-gallery li h2, 
 .projects-gallery li p {
     text-indent: 24px;
}
 .projects-gallery h2 {
     font-size: 18px;
     line-height: 2;
     font-weight: 700;
     letter-spacing: var(--letter-spacing-06);
     margin-bottom: 0;
}
 .projects-gallery p {
     color: var(--middle-grey-color);
     letter-spacing: var(--letter-spacing-03);
     line-height: 1.9;
     margin-top: 4px;
}
/* projects=gallery list border */
 .projects-gallery li {
     border: 1px solid var(--border-color);
}

/* footer section */
 .footer {
     background-color: var(--dark-grey-color);
     padding: 60px 0;
}
/* general styles for footer list */
.footer ul {
    margin: 0;
    padding: 0;
}
 .footer ul li {
     font-size: 14px;
     line-height: 1.7;
     margin-bottom: 9px;
}
/* link styles by title */
 .footer a[title] {
     color: rgba(255 255 255 / .6);
}
 .footer a[title]:hover {
     color: var(--blue-color);
}
 address {
     font-style: normal;
     color: var(--white-color);
}
 .footer .logo-footer {
     color: var(--white-color);
     margin-bottom: 20px;
     line-height: 1.2;
     display: block;
}
.logo-footer:hover {
    color: var(--blue-color);
}
 